.DS_Store
_pycache__/
*.py[cod]
*$py.class

cov.xml
notes.txt
.coverage
.cognito/

*.ipynb
.ipynb_checkpoints/

# Virtual environments
.venv
/venv/

# IDE stuff
.vscode/settings.json
.vscode/launch.json

.idea 
coordinator/app/__pycache__/*.pyc
